{% extends "base.html" %}
{% block content %}

<div class="box">
    <h1>Login</h1>

    <form action="{% url 'login' %}" method="post">
        {% csrf_token %}
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}

        {% if form.errors %}
        <div class="alert alert-danger">
            <ul>
                {% for field_errors in form.errors.values %}
                    {% for error in field_errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                {% endfor %}
            </ul>
        </div>
        {% endif %}

        {% for a in form %}
        {{ a }}
        {% endfor %}
        <button type="submit" class="btn btn-primary btn-block btn-large">Let me in.</button>
    </form>
</div>

{% endblock %}